{% extends "layout.html" %}

{% block body %}
<h1>Login to BirdsI</h1>
{% if error %}<p class="text-danger">{{ error }}</p> {% endif %}
<form action="{{ url_for('login') }}" method="post">
  <div class="form-group">        
    <label><b>Email:</b></label>
    <input type="email" placeholder="Enter email" name="email" required class="form-control">
  </div>

  <div class="form-group">
    <label><b>Password:</b></label>
    <input type="password" placeholder="Enter password" name="password" required class="form-control">
  </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <!-- Comment out feature for later use, currently do not support this
    <input type="checkbox" checked="checked"> Remember me
    -->

<!-- Comment out feature for later use, currently do not support this 
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
  -->

</form>
{% endblock %}
